/*
Forest Widget Example CSS
*/

body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

p {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    margin: 0px;
}

.extra-bottom-space {
    margin-bottom: 10px;
}

form {
    background-color: #ffffff;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 2px;
}

/* Forest Widget Classes */
div.widget-body {
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
    background-color: #a0a0c0;
    vertical-align: top;
}

form.tree-body {
    padding: 2px;
}

form.forest-body div.node{
    padding-left: 0px;
}

div.node {
    padding-right: 2px;
}

form.options-body {
    padding: 2px;
    margin-bottom: 5px;
}