/*
	Forest Widget Classes
*/

div.widget-body {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

div.widget-body form.header-body,
div.widget-body form.options-body {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}

div.widget-body form.header-body div span {
    margin: 0px 2px 0px 3px;
}

div.widget-body form.options-body input[type=checkbox],
div.widget-body form.forest-container div.forest-body div.node input[type=checkbox]
{
    box-sizing: border-box;
    margin: 0px 1px 1px 1px;
}

div.widget-body form.forest-container {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

div.widget-body form.forest-container div.forest-body div.node {
    width: 100%;
    white-space: nowrap;
    line-height: 0px;
}

div.widget-body form.forest-container div.forest-body {
    /**/
}

div.checkbox-div,
div.span-div {
    display: inline-block;
}

.light-font {
    font-weight: 100;
}

.selected,
.selected.included {
    background-color: #AAFFAA;
    font-weight: 900;
}

.included {
    background-color: #AAAAFF;
}