.node-with-margin {
    margin-left:40px;
    word-wrap:break-word;
}

#commons-body {
    width:95%;
    margin: auto;
}

.grandnode-with-margin {
    margin-left:80px;
    word-wrap:break-word;
}

.fullscreen {
    height:100%;
    width:100%;
}

#search {
    margin-top:5px;
}

.inline {
    display:inline;
}