.node-with-margin {
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.node-break {
    word-wrap: break-word;
}

.font-size-20 {
    font-size: 20px;
}

#commons-body {
    width: 95%;
    margin: auto;
    margin-top: -10px;
    overflow-x: hidden;
}

.grandnode-with-margin {
    margin-left: 50px;
    padding-left: 2em;
    text-indent: -2em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fullscreen {
    height: 100%;
    width: 100%;
    min-height: 1000px;
}

#search {
    margin-top: 5px;
}

.inline {
    display: inline;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-21 {
    font-size: 21px;
}

.commons-header {
    margin-bottom: 0px;
}

.commons-subheader {
    margin-top: 0px;
}

.modal-dialog {
    width: 80% !important;
}

.list-group-item {
    padding: 1px 3px !important;
}

.margin-top-22 {
    margin-top: 22px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.sub-title-font {
    color: #0c2b65;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.title-font {
    color: #0c2b65;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.title-font:after {
    content: "";
    display: block;
    background-color: #0c2b65;
    height: 10px;
    height: 0.625rem;
    margin-top: 21px;
    margin-top: 1.3125rem;
}

.content-title-font {
    color: #0c2b65;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.content-title-font:after {
    content: "";
    display: block;
    background-color: #0c2b65;
    height: 5px;
    height: 0.425rem;
    margin-top: 11px;
    margin-top: 0.8125rem;
}

.dtm-disclaimer {
    font-size: 11px;
    margin-bottom: 5px;
}

/*there is an offset of +86 px for some reason*/
@media screen and (min-width: 859px) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: rgba(0, 0, 0, 0.25) !important;
        padding-bottom: 30px !important;
    }

}

@media screen and (max-width: 860px) {
    .content-title-font {
        color: #0c2b65;
        font-size: 16px;
        font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: rgba(0, 0, 0, 0.25) !important;
        padding-bottom: 10px;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white !important;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px !important;
    }
}

@media screen and (max-width: 860px) {
    .subtitle-font {
        color: #0c2b65;
        font-size: 18px;
        font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }

    .content-title-font {
        color: #0c2b65;
        font-size: 24px;
        font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

.subtitle-font {
    color: #0c2b65;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.subtitle-font:after {
    content: "";
    display: block;
    background-color: #0c2b65;
    height: 5px;
    height: 0.425rem;
    margin-top: 11px;
    margin-top: 0.8125rem;
}

.main-nav {
    background-color: #0c2b65;
    color: white;
    height: 100% !important;
    width: 100% !important;
}

.full-width {
    width: 100%;
}

.background-nav {
    background-color: #0c2b65 !important;
}

.leaf {
    color: white !important;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.spacer {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0px;
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    min-height: 80px;
    height: 80px;
}

.spacer-small {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0px;
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    min-height: 30px;
    height: 30px;
}

.navbar-brand-mod {
    float: left !important;
    height: 80px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 18px !important;
    line-height: 20px !important;
}

.navbar-fixed-top {
    min-height: 80px !important;
}

.inline-block {
    display: inline-block;
}

a {
    color: #0c2b65 !important;
    text-decoration: none;
}

.modal-dialog {
    position: relative !important;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto !important;
    min-width: 300px;
}

.modal-content {
    border-left: 5px solid #0c2b65 !important;
    border-right: 5px solid #0c2b65 !important;
    border-top: 2px solid #0c2b65 !important;
    border-bottom: 5px solid #0c2b65 !important;
}

.popover {
    border: 10px solid rgba(9, 41, 64, 1) !important;
}

.popover-content {
    padding: 5px 5px !important;
}

#imagepreview {
    width: 100%;
}

.btn-default {
    color: #333;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.display-none {
    display: none;
}

.page-divider {
    display: none
}

.publication-info {
    color: #666 !important;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    /*text-transform: uppercase;*/
}

.standard-font {
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
}

.underline {
    text-decoration: underline;

}

.list-group-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item li {
    white-space: pre-wrap;
}

@media screen and (min-width: 1010px) {
    .navbar-padding {
        padding-left: 30px !important;
    }

    /*.navbar-nav {
        margin: 7.5px -15px !important;
    }*/
    .navbar-nav {
        margin-right: -15px !important;
        margin-left: -15px !important;
    }

    .padding-top-30 {
        padding-top: 30px !important;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        height: 80px;
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    .padding-top-30:hover {
        height: 80px;
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    .margin-top-13 {
        margin-top: 13px;
    }
}

@media screen and (max-width: 1010px) {
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    a:hover {
        background-color: transparent !important;
    }

    .navbar-form {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 15px;

        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        border-top: 0px solid transparent !important;
        border-bottom: 0px solid transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

@media (min-width: 766px) and (max-width: 1010px) {
    .navbar-collapse.collapse {
        display: none !important;
        overflow-y: auto !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-collapse {
        overflow: hidden !important;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav {
        margin: 7.5px -15px;
    }
}

.bs-docs-footer {
    /*padding-top:40px;
    padding-bottom:40px;
    margin-top:100px;*/
    color: #777;
    /*text-align:center;*/
    /*border-top:3px solid #0c2b65;*/
    font-size: 14px;
    margin-top: 10px;
    /*padding-bottom:2px;
    padding-top:10px;*/
}

.footer-sep {
    margin-bottom: 7px;
}

.snomed-message, .disclaimer {
    font-size: x-small;
    margin-top: 5px;
}

.modal-software-item {
    margin-top: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*word-break: break-all;
    -ms-word-break: break-all;*/
}

.modal-software-item a {
    word-break: break-all;
}

.software-header {
    padding: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #0c2b65 !important
}

.color-white {
    color: white;
}

#logo-img {
    margin-top: 3px;
}

.bold {
    font-weight: 600;
}

#software-location {
    text-decoration: underline;
}

#software-source-code {
    text-decoration: underline;
}

#software-modal {
    max-width: 600px;
}

/*.push {
    height:50px;
}*/

/*#content {
    min-height: calc(100vh - 125px);
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 35px !important;
}

.footer-xs {
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #0c2b65;
}

.footer-lg {
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #0c2b65;
}

.footer-container-lg {
    margin-top: 6px;
    margin-left: 20px;
}

.footer-container-xs {
    margin-top: 6px;
}

.about-item {
    margin-top: 20px;
}

.theme-primary-color {
    color: #0c2b65
}

.olympus-color {
    color: #0d3d98;
}

.ae-color {
    color: #34810b;
}

#dev-team-footer {
    font-size: 12px;
}

@media (max-width: 440px) {
    #page-title {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .hidden-extra-xs {
        display: none !important;
    }
}

.tab-content {
    margin-bottom: 20px;
}

.bullet-point:before {
    content: ' \25CF';
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.highlighted-item {
    padding-bottom: 30px !important;
    background-color: #09204c !important;
}

.legend {
    color: #0c2b65;
    border: 2px solid #0c2b65;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: white;
    max-width: 267px;

}

.legend-small {
    /*position: absolute;
    margin-bottom: 110px;*/
    width: 267px;
    color: #0c2b65;
    border: 2px solid #0c2b65;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: white;
}

.legend-font {
    font-size: 11px;
}

.tooltip > .tooltip-inner {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: 1px solid rgba(6, 36, 75, 1);
    padding: 5px;
    font-size: 14px;
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid rgba(6, 36, 75, 1);
}

.tooltip.left > .tooltip-arrow {
    border-left: 5px solid rgba(6, 36, 75, 1);
}

.tooltip.in {
    opacity: 1 !important;
}

.no-link {
    cursor: initial;
}

#tools-treeview ul li {
    cursor: default;
}

#disease-transmission-models-treeview ul li {
    cursor: default;
}

#system-software-treeview ul li {
    cursor: default;
}

.no-padding {
    padding: 0px !important;
}

.tools {
    color: #0c2b65;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.sso-color {
    color: #d21414;
}

.udsi-color {
    color: #22a6a9;
}

label[disabled="disabled"] {
    color: #AAA;
}

.error-color {
    color: #a94442;
}

.frame {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.frame::-webkit-scrollbar {
    display: none;
}

.badge {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    min-width: 10px;
    padding: 3px 2px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: black;
    /*#0c2b65*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: none;
    border-radius: 10px;
}

.list-group-item > .badge {
    float: none;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.hidden {
    display: none !important;
}

.visible {
    display: inline-block !important;
}

.legend-large {
    margin-bottom: 45px;
    position: fixed;
    margin-right: 10px;
    right: 15px;
    bottom: 0;
    z-index: 100;
}

#legend-button {
    position: absolute;
    right: 6px;
    top: 9px
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.modal-body p {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}

.panel-primary {
    border-color: #0c2b65;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 0;
    color: #fff !important;
    cursor: default;
    background-color: #0c2b65;
    border-color: #0c2b65;
}

.panel-primary {
    border-color: #0c2b65 !important;
}

tfoot {
    display: none !important;
}

.data-label {
    font-style: italic;
    color: #0c2b65;
    font-size: 13px;
}

.dropdown-menu {
    margin-top: 10px !important;
}

.sort-by-dropdown {
    font-size: 13px;
    padding: 0px;
    border: 0;
}

.nav-link {
    margin-top: 0;
!important;
    color: white !important;
    font-family: "TransportNewMedium", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.nav-link.dropdown-menu > li > a:hover, .nav-link.dropdown-menu > li > a:focus {
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 0px !important;
}

.nav-link.dropdown-menu {
    background-color: #0c2b65 !important;
    border: 0px;
    margin-top: 0px !important;
    padding-top: 0px;
    padding-bottom: 3px;
    min-width: auto;
}

.nav-link.dropdown-item {
    font-weight: normal;
    text-align: left;
}

.ajax-loader {
    padding: 10px;
    text-align: center;
}

.status-modal-body {
    height: 130px;
}

.btn-publish {
    float: right;
}

/*Detailed View Page CSS*/
#detailed-view-body {
    background: #f6f6f6;
}

div.container.metadata-container .section-content {
    background: #fff;
    border: 1px #e4e4e4 solid;
    border-bottom-width: 2px;
    display: flex;
    align-items: flex-start;
}

div.container.metadata-container .metadata-column.fancy {
    flex: 0 1 32%;
    margin: 0;
}

.metadata-wrapper .metadata-row {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.metadata-wrapper .metadata-section {
    margin: 15px;
}

.metadata-detail-groups {
    justify-content: flex-start;
}

.metadata-wrapper .metadata-pair .metadata-pair-title {
    font-size: 15px;
    color: #0c2b65;
}

.metadata-wrapper .metadata-pair .metadata-pair-value {
    font-size: 24px;
    line-height: 27px;
    color: #1c6387;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.metadata-detail-group {
    display: inline-block;
    margin-right: 15px;
}

.metadata-detail-group-title {
    font-size: 12px;
    color: #727272;
    font-weight: 600;
}

.metadata-detail-group-value {
    font-size: 12px;
    margin: 0;
}

.metadata-wrapper .metadata-table {
    padding: 0 15px;
}

.metadata-column.tables{
    width: 100%;
    overflow: hidden;
    position: relative;
}


.metadata-wrapper .metadata-table table {
    border-collapse: collapse;
}

.metadata-table table tr td:first-child {
    color: #474747;
    width: 35%;
    padding: 3px 11px;
}

.metadata-table table tr td {
    vertical-align: middle;
    padding: 3px;
}

.table.table-condensed th, .table.table-condensed td {
    padding: 8px;
    font-size: 13px;
}

.lineage{
    background-color: #f6f6f6;
    margin: 0;
    padding: 10px;
}

.background-white {
    background: white;
}

.breadcrumb {
    margin-bottom: 0px;
    font-size: 17px;
}

.collapsible {
    overflow: hidden;
}