.node-with-margin {
    margin-left:40px;
    word-wrap:break-word;
}

#commons-body {
    width:95%;
    margin: auto;
}

.grandnode-with-margin {
    margin-left:60px;
    word-wrap:break-word;
}

.fullscreen {
    height:100%;
    width:100%;
}

#search {
    margin-top:5px;
}

.inline {
    display:inline;
}

.font-size-16 {
    font-size:16px;
}

.commons-header {
    margin-bottom:0px;
}

.commons-subheader {
    margin-top:0px;
}

.modal-dialog {
    width: 80% !important;
}
