body {
    font-size: 1.2em;
    background-color: #ffffff;
}

.item-number {
    display: none;
}

.remove-button {
    margin: 5px 10px 10px 0px;
}

.repeat-button {
    margin: 5px 10px 10px 0px;
}

.remove-button-container {
    overflow: initial;
}

.clr {
    display: none;
}

#submit .submit {
    margin-left:0px;
}

.sequence-content {
    margin-left: 10px;
    margin: 1px;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 5px;
}

.item-input {
    float: left;
    width: 50%;
}

.invisible {
    visibility: visible !important;
}
